body {
    background-color: #121212;
    color : white;
    font-family: 'Roboto', sans-serif;
}

.movie-title {
    color : #6CC417;
    width: 50%;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

table {
    
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #292929;
}